.main-footer {
    background-color: #8B4513;
    color: #fff;
    padding: 40px 20px 20px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-col {
    flex: 1;
    min-width: 250px;
    padding: 10px 20px;
    box-sizing: border-box;
}

.footer-col h4 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: bold;
    color: #fff;
}

.footer-col p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.8);
}

.social-icons a {
    color: #fff;
    font-size: 16px;
    margin-right: 35px;
    transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #d4edda;
}

.footer-col ul {
    font-size: 12px;
    color: #ffffff94;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.footer-col ul li a:hover {
    color: #fff;
}

.newsletter-form {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    align-items: center;
}

.newsletter-form input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.344);
    border-radius: 8px;
    color: #eeebe8;
    font-size: 12px;
    box-sizing: border-box;
    margin-bottom: 15px;
    background: transparent;
    outline: none;
    transition: border .1s ease-in-out;
}

.newsletter-form input[type="email"]::placeholder {
    color: rgba(245, 244, 242, 0.663);
}

.subscribe-button {
    background-color: #e2d687;
    color: #8B4513;
    margin-top: -15px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.subscribe-button:hover {
    background-color: #c0d7c2;
    color: #6C350D;
}

.contact-info p {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 12px;
    color: #ffffff95;
}

.contact-info i {
    margin-right: 10px;
    font-size: 16px;
    color: #fff;
}

.footer-bottom {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
}

.footer-bottom p {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.6);
    margin: 0;
}