* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 300ms;
}

html, body {
    background-color: rgba(250, 248, 245, 1);
    font-size: 14px;
    font: 500 16px/1.5 system-ui, -apple-system, "Segoe UI", Roboto, Inter, Arial, sans-serif; color:var(--t);
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: lightblue;
}

img {
    max-width: 100%;
}

p {
    margin: 10px;
    padding: 0;
}

/* hr {
    color: rgba(232, 219, 211, 1);
} */

/* Layout set up */

/* Desktop view */
.container {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    height: auto;
    grid-template-areas:
    "header         header          header"
    "aside-left     site-nav    aside-right"
    "aside-left     main-content    aside-right"
    "footer         footer          footer";
    row-gap: 10px;
    float: none;
    margin: auto 0;
}

/* Layout for mobile view */
@media (max-width: 700px) {
    .container {
        grid-template-rows: 20px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "header"
        "site-nav"
        "aside-left"
        "main-content"
        "aside-right"
        "footer";
    }
}

/* Content set up

Aside left, right and content */

.aside-left {
    float: left;
    width: auto;
    margin-right: 10px;
}

.aside-right {
    float: right;
    width: auto;
    margin-left: 10px;
}

.main-content {
    float: center;
    width: 80%;
    padding: 20px;
}

.three-columns .main-content {
    width: 100%;
}

/* Site path */
.grey-site-path {
    font-size: 0.7rem;
    margin: 0px 0px 20px 0px;   /* Margin bottom of 20px */
}

.strong-site-path {
    font-size: 0.7rem;
    margin: 0;
}

/* Product gallery container */
.product-gallery-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    column-gap: 50px;
    flex: 1 1;
}

/* Main product image */
.main-image-container {
    position: relative;
    z-index: 1;
}

.main-image {
    position: relative;
    border-radius: 10px;
    object-fit: cover;
    width: 700px;
    height: 400px;
}

/* Sub image container */
.sub-images-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

@media (max-width: 1550px) {
    .sub-images-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 10px;
        justify-content: space-between;
    }

    .main-image {
        height: 350px;
    }
}

@media (max-width: 1450px) {
    .sub-images-container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 160px;
        row-gap: 10px;
        justify-content: space-between;
    }

    .main-image {
        height: 400px;
    }
}

@media (max-width: 1280px) {
    .sub-images-container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 160px;
        row-gap: 10px;
        justify-content: space-between;
    }

    .main-image {
        height: 300px;
    }
}

@media (max-width: 1180px) {
    .sub-images-container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 160px;
        row-gap: 10px;
        justify-content: space-between;
    }

    .main-image {
        height: 200px;
    }
}

.sub-images-container img {
    border-radius: 10px;
    object-fit: cover;
    width: 160px;
    height: 75px;
    cursor: pointer;
}

.selected-sub-image {
    border: 2px solid rgba(139, 69, 19, 1);
}

/* Product badge */
.product-badge {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 70px;
    height: 20px;
    font-size: 12px;
    color: white;
    background-color: rgba(139, 69, 19, 1);
    border-radius: 7px;
}

/* Product informations container */
.product-informations-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    float: left;
}

.product-informations-container h1 {
    margin-top: -8px;
    padding: none;
}

/* Product review container */
.product-review-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 230px;
}

.bi-star-fill {
    color: rgba(255, 192, 0, 1);
}

.bi-star {
    color: rgba(214, 217, 221, 1);
}

.product-review {
    font-size: 12px;
    justify-content: center;
    align-items: center;
}

.product-review p {
    margin: 4px 0px 0px 0px;    /* Margin top of 4px */
    padding: 0;
}

/* Product price container */
.product-price-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
}

.product-pricing {
    margin-right: 20px;
}

.product-final-price h2 {
    color: rgba(139, 69, 19, 1);
    font-weight: bold;
}

.product-discounted-price {
    text-decoration: line-through;
    opacity: 0.8;
    font-size: 1rem;
}

.product-discounted-percent {
    text-align: center;
    background-color: rgba(216, 24, 57, 1);
    width: 48px;
    height: 20px;
    font-size: 12px;
    color: white;
    border-radius: 6px;
}

.product-discounted-percent p {
    margin: 0;
    padding: 0;
}

.dividor {
    color: rgba(232, 219, 211, 1);
}

/* Product description container */
.product-description-container {
    width: 650px;
    margin-bottom: 20px;
}

.product-description-container h4 {
    margin: 0px 0px 10px 0px;   /* Margin bottom of 10px */
    padding: 0;
}

.product-description-container p {
    opacity: 0.8;
    margin: 0;
    padding: 0;
}

/* Specifications container */
.specifications-container {
    margin-bottom: 40px;
}

.specifications-list {
    list-style-type: disc;
    color: black;
    font-size: 0.85rem;
    line-height: 1.5;
    margin-left: 20px;
}

.specifications-list li {
    color: black;
}

.specifications-list li::marker {
    color: rgba(139, 69, 19, 1);
    font-size: 1.5rem;
}

/* Product quantity container */
.product-quantity-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

/* Functional button container */
.product-quantity-customize-container {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.product-quantity-container h5 {
    margin-top: 5px;
}

/* Minus and plus quantity button */
.minus-button, .plus-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40px;
    height: 30px;
    font-size: 22px;
    background: transparent;
    border: 1px solid rgba(232, 219, 211, 1);
    border-radius: 7px;
    cursor: pointer;
}

.minus-button:hover, .plus-button:hover {
    background-color: rgba(230, 215, 192, 1);
}

.quantity-count {
    display: flex;
    flex-direction: row;
    text-align: center;
    background: transparent;
    width: 30px;
    border: none;
    margin: 0px 30px 0px 30px;
    padding: 0;
}

/* Styling the inactive button from JS className */
.inactive-button {
    opacity: 0.5;
}

/* Product CTA (Call to action) buttons container */
.product-cta-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 650px;
}

.bi-cart {
    color: white;
    margin-right: 20px;
}

.bi-heart, .bi-share {
    color: black;
}

.cta-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 6px;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.add-to-cart-button {
    background-color: rgba(139, 69, 19, 1);
    color: white;
    font-weight: bold;
    width: 550px;
    height: 35px;
}

.add-to-cart-button:hover {
    opacity: 0.93;
    transition: 300ms;
}

.action-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.like-button, .share-button {
    border: 1px solid rgba(226, 210, 200, 1);
    color: black;
    width: 40px;
    height: 35px;
}

.like-button:hover, .share-button:hover {
    background-color: rgba(230, 215, 192, 1);
    transition: 300ms;
}

.like-button:hover {
    .bi-heart {
        color: rgba(216, 24, 104, 1);
    }
}

.like-button:active {
    background-color: rgba(216, 24, 104, 1);
    transition: 150ms;
    .bi-heart {
        color: white;
        transition: 150ms;
    }
}

.share-button:hover {
    .bi-share {
        color: blue;
    }
}

.share-button:active {
    background-color: rgba(82, 130, 243, 1);
    transition: 150ms;
    .bi-share {
        color: white;
        transition: 150ms;
    }
}

.buy-button {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 6px;
    border: none;
    background: transparent;
    background-color: rgba(212, 196, 160, 1);
    cursor: pointer;
    font-weight: 600;
    font-size: 0.9rem;
    width: 650px;
    height: 35px;
    margin: 10px 0px 0px 0px;   /* Margin top of 10px */
    padding: 0;
}

.buy-button:hover {
    opacity: 0.87;
    transition: 300ms;
}

.buy-button:active {
    background-color: rgba(139, 69, 19, 1);
    color: white;
    transition: 100ms;
}

@media (max-width: 1450px) {
    .product-description-container {
        width: 450px;
    }

    .product-cta-buttons-container {
        display: grid;
        grid-template-columns: 1fr 50px 50px;
        column-gap: 10px;
        width: 450px;
    }

    .add-to-cart-button, .add-to-cart-button:hover {
        width: 310px;
    }

    .buy-button, .buy-button:hover, .buy-button:active {
        width: 410px;
    }
}