* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 300ms;
}

html, body {
    background-color: rgba(250, 248, 245, 1);
    font-size: 14px;
    font: 500 16px/1.5 system-ui, -apple-system, "Segoe UI", Roboto, Inter, Arial, sans-serif; color:var(--t);
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: lightblue;
}

img {
    max-width: 100%;
}

p {
    margin: 10px;
    padding: 0;
}

/* Layout set up */

.container {        /* Desktop view */
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    height: auto;
    grid-template-areas:
    "header         header          header"
    "aside-left     main-content    aside-right"
    "aside-left     main-content    aside-right"
    "footer         footer          footer";
    row-gap: 10px;
    float: none;
    margin: auto 0;
}

/* Layout for mobile view */
@media (max-width: 850px) {
    .container {
        grid-template-rows: 20px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "header"
        "aside-left"
        "main-content"
        "aside-right"
        "footer";
    }
}

/* Content set up

Aside left, right and content */

.aside-left {
    float: left;
    width: auto;
    margin-right: 10px;
}

.aside-right {
    float: right;
    width: auto;
    margin-left: 10px;
}

.main-content {
    float: center;
    width: 80%;
    background-color: lightpink;
    padding: 20px;
}

.three-columns .main-content {
    width: 100%;
}

/* Site path */
.grey-site-path {
    font-size: 0.7rem;
    margin: 0px 0px 20px 0px;   /* Margin bottom of 20px */
}

.strong-site-path {
    font-size: 0.7rem;
    margin: 0;
}

/* Product gallery container */
.product-gallery-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1 1;
}

/* Main product image */
.main-image {
    border-radius: 10px;
    object-fit: cover;
    width: 700px;
    height: 400px;
}

/* Sub image container */
.sub-images-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

@media (max-width: 650px) {
    .sub-images-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 10px;
        justify-content: space-between;
    }
}

@media (max-width: 550px) {
    .sub-images-container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        row-gap: 10px;
        justify-content: space-between;
    }
}

.sub-images-container img {
    border-radius: 10px;
    object-fit: cover;
    width: 160px;
    height: 75px;
    cursor: pointer;
}

.selected-sub-image {
    border: 2px solid rgba(139, 69, 19, 1);
}